@font-face {
    font-family: "Inter";
    src:
            url("../fonts/inter-medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src:
            url("../fonts/inter-semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}